<html><body>

Atimties rezultatas yra : {{ati}}. ({{num1}}-{{num2}}={{ati}})
<br>
<a href="{{goSum}}">Sudėtis</a>
<br>
<a href="{{goDal}}">Dalyba</a>
<br>
<a href="{{goDaug}}">Daugyba</a>

</body></html>