<html><body>

Dalybos rezultatas yra : {{dal}}. ({{num1}}/{{num2}}={{dal}})

<br>
<a href="{{goSum}}">Sudėtis</a>
<br>
<a href="{{goDaug}}">Daugyba</a>
<br>
<a href="{{goAti}}">Atimtis</a>

</body></html>