<html><body>

Daugybos rezultatas yra : {{daug}}. ({{num1}}*{{num2}}={{daug}})

<br>
<a href="{{goSum}}">Sudėtis</a>
<br>
<a href="{{goDal}}">Dalyba</a>
<br>
<a href="{{goAti}}">Atimtis</a>

</body></html>